/* Reset some basic elements */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* A blue background color for the navbar */
    color: #000000; /* White color for text to contrast with the navbar background */
    padding: 10px 20px; /* Adding padding for spacing */
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
}

/* Navbar links styling */
.logo a, .login, .create_account, .cart a {
    color: #333;
    text-decoration: none;
    padding: 10px; 
} 

/* Hover effect on links in navbar */
.navbar-right li:hover, .nav-list li a:hover {
    background-color: #a5c9ed; /* Darker shade of blue for hover effect */
    border-radius: 5px; /* Rounded corners for a smoother look */
    transition: background-color 0.3s ease-in-out; /* Smooth transition for hover effect */
}

/* Account and Cart Styling */
.cart, .account {
    display: flex;
    align-items: center;
    padding: 10px;
}

/* Navbar Responsive adjustments */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-right {
        margin-top: 10px;
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-list li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/*Main body styling*/
.container {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    margin: 20px;
    min-height: 100vh;
}

.about_text {
    text-align: center;
    margin: 20px 20px 40px 20px;

}

.about_text h2 {
    margin-bottom: 10px;
}

.staff{
    display: flex;
    justify-content:space-around;
    padding-bottom: 5%;

}

.container img {
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(72, 71, 71, 1);
     max-width: 30%;
    height: auto;  
      
}

.container .titles {
    display: flex;
    justify-content: space-around;
    color: black;
    margin-bottom: 10px;
 
}

.container h3 {
    text-align: center;
    color: black;

}


/* Footer styling */
footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: baseline;
}

/* Style for main headings */
.footer-left h3,
.footer-column h3,
.footer-right h3{
    position: relative;
    display: inline-block;
    margin-right: 15px; 
    padding-bottom: 5px;
    color: #000;
}

/* Underline under the main headings */
.footer-left h3::after,
.footer-column h3::after,
.footer-right h3::after {
    content: '';
    position: absolute;
    background-color: #000;
    bottom: 0;
    left: 0;
    width: 45%; /* Initially set to 0 */
    height: 2px;
    transition: width 0.3s cubic-bezier(0.25, 0.1, 0.2, 0.78);
}

/* Increase width on hover */
.footer-left h3:hover::after,
.footer-column h3:hover::after,
.footer-right h3:hover::after {
    width: 95%; /* Increase width to 95% on hover */
}

/* Space between columns */
.footer-column {
    margin-right: 30px; 
}

/* Style the links */
ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 12px; /* Adjust spacing between links */
}

ul li a {
    text-decoration: none;
    color: #333; /* Change color as needed */
}

/* Display social media links in one line */
.social-media {
    display: flex;
    align-items: center;
}

.social-media li {
    margin-right: 20px; 
}


.copyright {
    position:inherit ;
    text-align: center;
    width: 100%;
    padding: 15px 0 15px 0;

}
/* Responsive styles */
@media screen and (max-width: 455px) {
    .footer-left,
    .footer-column,
    .footer-right {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
    }
}