/* Reset some basic elements */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #333;
}

/*Logo Styling */
.logo {
    color: white;
    text-decoration: none;
}

/* Navbar Right Styling */
.navbar-right {
    display: flex;
    align-items: center;
}

/* Account and Cart Styling */
.cart, .account {
    display: flex;
    align-items: center;
    padding: 10px 20px;

}

.account a, .cart a  {
    color: #fff;
    text-decoration: none;
}

/* Login and Create Account Styling */
.login, .create_account {
    color: white;
    text-decoration: none;
}

.menu {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}


body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: #f5f5f5;
}
.abouttext{
text-align: center;
margin-bottom: 40px;
margin-top: 10px;
}

.staff{
    display: flex;
    justify-content:space-around;
    padding-bottom: 5%;

}
img{
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(72, 71, 71, 1);
     max-width: 30%;
    height: auto; 
      
      
}

.titles{
    display: flex;
    justify-content: space-around;
    color: black;
    margin-bottom: 10px;
 
}
h3{
    text-align: center;
    color: black;

}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-links {
    margin-left: 20px;
}

.footer-links a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.footer-right {
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
}

.footer-column {
    flex-grow: 1;
    margin-right: 20px;
}

.social-media {
    margin-top: 10px;
}

.social-media img {
    margin-right: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-right {
        margin-top: 10px;
    }

    .footer-left, .footer-right {
        flex-grow: 1;
        margin-bottom: 20px;
    }

    .footer-column {
        margin-right: 0;
    }
}

.aboutus{
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}