/* Reset some basic elements */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #f5f5f5;
    --primary-color: #1E90FF ;
    --secondary-color: #3e3e3e;
    --button-color: #7b9e83;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
}

body {
    font-family:'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--dark-color);
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke; 
    padding: 10px 20px; /* Adding padding for spacing */
    margin: 0px 15px;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
}

/* Navbar links styling */
.logo a, .login, .create_account, .cart a {
    color: var(--dark-color);
    text-decoration: none;
    padding: 10px; 
} 

/* Hover effect on links in navbar */
.navbar-right li:hover, .nav-list li a:hover {
    background-color: #c7d5df; 
    border-radius: 10px;
    transition: background-color 0.4s ease-in; /* Smooth transition for hover effect */
}

/* Account and Cart Styling */
.cart, .account {
    display: flex;
    align-items: center;
    padding: 10px;
}

/* Cart icon styling */
.navbar .cart .cart-icon {
    position: relative;
    display: inline-block;
    font-size:s 24px;
}

.navbar .cart .cart-icon .cart-counter {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #e31837;
    color: white;
    border-radius: 50%;
    padding: 4px 7px;
    font-size: 12px;
}


/* Navbar Responsive adjustments */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }


    .nav-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-list li {
        margin-right: 0;
    }

    .account .cart {
        padding: 0px;
    }
}


/* Cart Section */
.cart-section {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    max-width: 800px;
}

.cart-section h2 {
    margin-bottom: 20px;
}

.cart-items {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.cart-total {
    margin-top: 20px;
}

.cart-total h3 {
    margin-bottom: 10px;
}

#paymentForm {
    margin-top: 20px;
}

#paymentForm label {
    display: block;
    margin-bottom: 5px;
}

#paymentForm input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

#paymentForm button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#paymentForm button:hover {
    background-color: #555;
}

/* Style for Clear Cart Button */
#clearCartBtn {
    background-color: #ff0000; /* Red background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding around the button text */
    margin-top: 10px;
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for background color change */
}

/* Hover effect */
#clearCartBtn:hover {
    background-color: #cc0000; /* Darker red on hover */
}

/* Footer styling */
footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: baseline;
}

/* Style for main headings */
.footer-left h3,
.footer-column h3,
.footer-right h3{
    position: relative;
    display: inline-block;
    margin-right: 15px; 
    padding-bottom: 5px;
    color: #000;
}

/* Underline under the main headings */
.footer-left h3::after,
.footer-column h3::after,
.footer-right h3::after {
    content: '';
    position: absolute;
    background-color: #000;
    bottom: 0;
    left: 0;
    width: 45%; /* Initially set to 0 */
    height: 2px;
    transition: width 0.3s cubic-bezier(0.25, 0.1, 0.2, 0.78);
}

/* Increase width on hover */
.footer-left h3:hover::after,
.footer-column h3:hover::after,
.footer-right h3:hover::after {
    width: 95%; /* Increase width to 95% on hover */
}

/* Space between columns */
.footer-column {
    margin-right: 30px; 
}

/* Style the links */
ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 12px; /* Adjust spacing between links */
}

ul li a {
    text-decoration: none;
    color: #333; /* Change color as needed */
}

/* Display social media links in one line */
.social-media {
    display: flex;
    align-items: center;
}

.social-media li {
    margin-right: 20px; 
}


.copyright {
    position:inherit ;
    text-align: center;
    width: 100%;
    padding: 15px 0 15px 0;
}

/* Responsive styles */
@media screen and (max-width: 455px) {
    .footer-left,
    .footer-column,
    .footer-right {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
    }
}