/* Reset some basic elements */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #f5f5f5;
    --primary-color: #1E90FF ;
    --secondary-color: #3e3e3e;
    --button-color: #7b9e83;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
}

body {
    font-family:'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--dark-color);
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke; 
    padding: 10px 20px; /* Adding padding for spacing */
    
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
}

/* Navbar links styling */
.logo a, .login, .create_account, .cart a {
    color: var(--dark-color);
    text-decoration: none;
    padding: 10px; 
} 

/* Hover effect on links in navbar */
.navbar-right li:hover, .nav-list li a:hover {
    background-color: #c7d5df; 
    border-radius: 10px;
    transition: background-color 0.4s ease-in; /* Smooth transition for hover effect */
}

/* Account and Cart Styling */
.cart, .account {
    display: flex;
    align-items: center;
    padding: 10px;
}

/* Cart icon styling */
.navbar .cart .cart-icon {
    position: relative;
    display: inline-block;
    font-size:s 24px;
}

.navbar .cart .cart-icon .cart-counter {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #e31837;
    color: white;
    border-radius: 50%;
    padding: 4px 7px;
    font-size: 12px;
}


/* Navbar Responsive adjustments */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }


    .nav-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-list li {
        margin-right: 0;
    }

    .account .cart {
        padding: 0px;
    }
}

/* Hero Section styling */
.hero {
    background-image :url('Images/background-image.jpeg');
    background-size :cover;
    background-position :center;
    background-repeat :no-repeat;
    color: white;
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.7em;
    max-width: 600px;
    margin: 0 auto;
}

/* Main Body styling with CSS Grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    justify-items: stretch;
}

.grid-item {
    background-color: rgb(255 255 255);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: -12px 7px 10px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px; 
    width: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; 
}

.grid-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.grid-item h3 {
    margin-top: 10px;
}

.grid-item img {
    max-width: 100%;
    height: 200px;
    border-radius: 10px;
}

.btn-add-to-cart {
    background-color: #007bff; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.btn-add-to-cart span {
    max-width: 80%; /* Limit the width of the button text to 80% of the button width */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn-add-to-cart:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}

/* Modal container */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 6% auto;
    padding: 20px;
    border: 1px solid #a9a8a8;
    width: 80%;
    max-width: 500px;
    border-radius: 20px;
    color: #333;
}

#modalImage {
    max-width: 80%;
    max-height: 100%;
}

#modalTitle {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

#modalDescription {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.option {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.option-button {
    display: inline-block;
    background-color: #f2f2f2;
    color: #333;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}

.option-button:hover {
    background-color: #ddd;
    transform: scale(1.09);
    transition: transform 0.3s ease-in-out;
}

input[type="radio"] {
    display: none;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + .option-button {
    margin-right: 10px;
}

input[type="radio"]:checked + .option-button {
    background-color: #4caf50;
    color: white;
}


input[type="checkbox"]:checked + .option-button {
    background-color: #4caf50;
    color: white;
}

.option label {
    margin-right: 10px;
}

#modalPrice {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.cart-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    font-size: large;
    z-index: 999;
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Contact Us Section styling */
.contact-us {
    background-color: #f5f5f5;
    padding: 50px 20px;
    text-align: center;
}

.contact-header h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

.contact-header p {
    margin-bottom: 30px;
    font-size: 1.1em;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.contact-form label {
    text-align: left;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius:18px;
    font-size: 1em;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 18px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s cubic-bezier(0.25, 0.1, 0.26, 0.88);
}

.contact-form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .contact-form form {
        grid-template-columns: 1fr;
    }
}



/* Footer styling */
footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: baseline;
}

/* Style for main headings */
.footer-left h3,
.footer-column h3,
.footer-right h3{
    position: relative;
    display: inline-block;
    margin-right: 15px; 
    padding-bottom: 5px;
    color: #000;
}

/* Underline under the main headings */
.footer-left h3::after,
.footer-column h3::after,
.footer-right h3::after {
    content: '';
    position: absolute;
    background-color: #000;
    bottom: 0;
    left: 0;
    width: 45%; /* Initially set to 0 */
    height: 2px;
    transition: width 0.3s cubic-bezier(0.25, 0.1, 0.2, 0.78);
}

/* Increase width on hover */
.footer-left h3:hover::after,
.footer-column h3:hover::after,
.footer-right h3:hover::after {
    width: 95%; /* Increase width to 95% on hover */
}

/* Space between columns */
.footer-column {
    margin-right: 30px; 
}

/* Style the links */
ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 12px; /* Adjust spacing between links */
}

ul li a {
    text-decoration: none;
    color: #333; /* Change color as needed */
}

/* Display social media links in one line */
.social-media {
    display: flex;
    align-items: center;
}

.social-media li {
    margin-right: 20px; 
}


.copyright {
    position:inherit ;
    text-align: center;
    width: 100%;
    padding: 15px 0 15px 0;
}

/* Responsive styles */
@media screen and (max-width: 455px) {
    .footer-left,
    .footer-column,
    .footer-right {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
    }
}
