/* Reset some basic elements */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: proxima-nova, sans-serif;
    background-color: #f5f5f5;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* A blue background color for the navbar */
    color: #000000; /* White color for text to contrast with the navbar background */
    padding: 10px 20px; /* Adding padding for spacing */
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
}

/* Navbar links styling */
.logo a, .login, .create_account, .cart a {
    color: #333;
    text-decoration: none;
    padding: 10px; 
} 

/* Hover effect on links in navbar */
.navbar-right li:hover, .nav-list li a:hover {
    background-color: #a5c9ed; /* Darker shade of blue for hover effect */
    border-radius: 5px; /* Rounded corners for a smoother look */
    transition: background-color 0.4s ease-in-out; /* Smooth transition for hover effect */
}

/* Account and Cart Styling */
.cart, .account {
    display: flex;
    align-items: center;
    padding: 10px;
}

/* Navbar Responsive adjustments */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-right {
        margin-top: 10px;
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-list li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
/* Hero Section styling */
.hero {
    background-image :url('Images/background-image.jpeg');
    background-size :cover;
    background-position :center;
    background-repeat :no-repeat;
    color: white;
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.7em;
    max-width: 600px;
    margin: 0 auto;
}

/* Main Body styling with CSS Grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: rgb(255 255 255);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: -12px 7px 10px 4px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.grid-item h3 {
    margin-top: 10px;
}

/* Contact Us Section styling */
.contact-us {
    background-color: #f5f5f5;
    padding: 50px 20px;
    text-align: center;
}

.contact-header h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

.contact-header p {
    margin-bottom: 30px;
    font-size: 1.1em;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.contact-form label {
    text-align: left;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius:18px;
    font-size: 1em;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 18px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s cubic-bezier(0.25, 0.1, 0.26, 0.88);
}

.contact-form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .contact-form form {
        grid-template-columns: 1fr;
    }
}

/* Footer styling */
footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: baseline;
}

/* Style for main headings */
.footer-left h3,
.footer-column h3,
.footer-right h3{
    position: relative;
    display: inline-block;
    margin-right: 15px; 
    padding-bottom: 5px;
    color: #000;
}

/* Underline under the main headings */
.footer-left h3::after,
.footer-column h3::after,
.footer-right h3::after {
    content: '';
    position: absolute;
    background-color: #000;
    bottom: 0;
    left: 0;
    width: 45%; /* Initially set to 0 */
    height: 2px;
    transition: width 0.3s cubic-bezier(0.25, 0.1, 0.2, 0.78);
}

/* Increase width on hover */
.footer-left h3:hover::after,
.footer-column h3:hover::after,
.footer-right h3:hover::after {
    width: 95%; /* Increase width to 95% on hover */
}

/* Space between columns */
.footer-column {
    margin-right: 30px; 
}

/* Style the links */
ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 12px; /* Adjust spacing between links */
}

ul li a {
    text-decoration: none;
    color: #333; /* Change color as needed */
}

/* Display social media links in one line */
.social-media {
    display: flex;
    align-items: center;
}

.social-media li {
    margin-right: 20px; 
}


.copyright {
    position:inherit ;
    text-align: center;
    width: 100%;
    padding: 15px 0 15px 0;
}

/* Responsive styles */
@media screen and (max-width: 455px) {
    .footer-left,
    .footer-column,
    .footer-right {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
    }
}
