body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

/* Navbar Styling */
.navbar {
    position: fixed;
    top: 0;
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0px 10px 20px 4px #c1d8f0de;
    flex-direction: row;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;  
}

.navbar-right {
    margin-right: 5px;
}

.logo {
    font-size: 24px;
}

/* Navbar links styling*/
.logo a, .login, .create_account, .cart a {
    color: #333;
    text-decoration: none;
    padding: 10px; 
} 

/* Hover effect on links in navbar */
.navbar-right li:hover, .nav-list li a:hover {
    background-color: #a5c9ed;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

/* Account and Cart Styling */
.cart, .account {
    display: flex;
    align-items: center;
    padding: 10px

}

/* Cart icon styling */
.navbar .cart .cart-icon {
    position: relative;
    display: inline-block;
    font-size:s 24px;
}

.navbar .cart .cart-icon .cart-counter {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #e31837;
    color: white;
    border-radius: 50%;
    padding: 4px 7px;
    font-size: 12px;
}

/* Navbar Responsive adjustments */
@media (max-width: 625px) {
    .navbar-right .login,
    .navbar-right .create_account {
        display: none;
    }

    .nav-list {
        padding:0;
    }

    .navbar-right {
        margin-right: 0;
    }

    .logo{
        margin-right: auto;
    }

}
 


/* Form Styling */
.form-container {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 50px;
    align-items: center;
}

#create_account_container {
    margin-top: 20em;
}

form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

p {
    margin-top: 15px;
    font-size: 14px;
}